@import "~bootstrap/scss/bootstrap";

ul {
    list-style-type: none;
    padding-inline-start: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

header {
    ul {
        gap: 30px;

        li {
            cursor: pointer;
            border-bottom: 2px solid white;
        }

        a {
            color: black;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: -1px;
            font-size: 12px;
        }

        li:hover a {
            color: red;
        }

        li:hover {
            border-color: red;
        }
    }

    img {
        width: 80px;
        height: 80px;
    }
}

.jumbo {
    height: 400px;
    background-image: url("../img/jumbotron.jpg");
    background-repeat: repeat;

    .container {
        position: relative;
        height: 100%;

        button {
            all: unset;
            padding: 15px 30px;
            background-color: #0282f9;
            color: white;
            font-weight: 700;
            font-size: 28px;
            position: absolute;
            bottom: -27px;
            text-transform: uppercase;
        }
    }
}

.blue-component {
    background-color: #0282f9;
    position: relative;
    z-index: 1;

    ul {
        display: flex;
        color: white;
        justify-content: space-around;
        padding: 50px 45px;
        margin-bottom: 0;

        li {
            display: flex;
            align-items: center;
            gap: 15px;

            a {
                text-transform: uppercase;
                color: white;
                font-size: 14px;
            }

            img {
                height: 55px;
            }
        }

        li:last-of-type img {
            height: 35px;
        }
    }
}

.main-content {
    color: white;
    background-color: black;

    .container {
        text-align: center;

        .cards {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            row-gap: 50px;
            padding: 55px 0 50px 0;

            .carta {
                width: calc((100% - 125px) / 6);

                img {
                    width: 100%;
                    max-height: 190px;
                    object-fit: cover;
                    object-position: top;
                }

                h5 {
                    margin-top: 20px;
                    text-align: left;
                    font-weight: 400;
                    font-size: 16px;
                    text-transform: uppercase;
                }
            }
        }

        button {
            all: unset;
            background-color: #0282f9;
            padding: 10px 60px;
            margin-bottom: 20px;
            font-weight: 600;
            letter-spacing: -1px;
            color: white;
            text-transform: uppercase;
        }
    }
}

.footer-up {
    background-image: url(../img/footer-bg.jpg);
    color: white;
    .container {
        display: flex;
        justify-content: space-between;
        position: relative;

        .left {
            display: flex;
            padding: 40px 0 60px 0;

            .col {
                width: 140px;
            }

            ul {
                margin: 15px 0;

                li {
                    margin-bottom: 4px;
                    font-size: 12px;

                    a {
                        color: white;
                    }
                }
            }
        }

        img {
            overflow: hidden;
            position: absolute;
            right: 0;
            top: -100px;
        }
    }
}

.footer-down {
    background-color: #303030;
    padding: 30px 0;
    position: relative;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            padding: 15px;
            border: 2px solid #0282f9;
            color: white;
            font-weight: 600;
            background-color: inherit;
            text-transform: uppercase;
        }
    }

    ul {
        display: flex;
        align-items: center;
        gap: 20px;

        li:first-child {
            color: #0282f9;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 21px;
            letter-spacing: -2px;
        }
    }
}
