@import "~bootstrap/scss/bootstrap";

ul {
    list-style-type: none;
    gap: 30px;

    li {
        cursor: pointer;
        border-bottom: 2px solid white;
    }

    a {
        color: black;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: -1px;
        font-size: 12px;
    }

    li:hover a {
        color: red;
    }

    li:hover {
        border-color: red;
    }
}

img {
    display: block;
    height: 80px;
    width: 80px;
}
