@use "partials/reset" as *;
@use "partials/variables" as *;

@import "~bootstrap/scss/bootstrap";

// ------------
// header
// ------------

header {
    ul {
        gap: 30px;
        margin-block-end: 0;

        li {
            cursor: pointer;
            border-bottom: 2px solid white;
        }

        a {
            color: black;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: -1px;
            font-size: 12px;
        }

        li:hover a {
            color: $primary-blue;
        }

        li:hover {
            border-color: $primary-blue;
        }
    }

    img {
        width: 80px;
        height: 80px;
    }
}

// ------------
// main
// ------------

.jumbo {
    height: 400px;
    background-image: url("../img/jumbotron.jpg");
    background-repeat: repeat;

    .container {
        height: 100%;

        button {
            all: unset;
            padding: 15px 30px;
            background-color: $primary-blue;
            color: white;
            font-weight: 700;
            font-size: 28px;
            position: absolute;
            bottom: -27px;
            text-transform: uppercase;
        }
    }
}

.blue-component {
    background-color: $primary-blue;
    z-index: 1;

    ul {
        color: white;
        padding: 50px 45px;
        margin-bottom: 0;

        li {
            display: flex;
            align-items: center;
            gap: 15px;

            a {
                text-transform: uppercase;
                color: white;
                font-size: 14px;
            }

            img {
                height: 55px;
            }
        }

        li:last-of-type img {
            height: 35px;
        }
    }
}

.main-content {
    color: white;
    background-color: $cards-bg;

    .container {
        .cards {
            gap: 25px;
            row-gap: 50px;
            padding: 55px 0 50px 0;

            .carta {
                width: calc((100% - 125px) / 6);

                img {
                    width: 100%;
                    max-height: 190px;
                    object-fit: cover;
                    object-position: top;
                }

                h5 {
                    margin-top: 20px;
                    font-weight: 400;
                    font-size: 16px;
                }
            }
        }

        button {
            all: unset;
            background-color: $primary-blue;
            padding: 10px 60px;
            margin-bottom: 20px;
            font-weight: 600;
            letter-spacing: -1px;
            color: white;
            text-transform: uppercase;
        }
    }
}

// ------------
// footer
// ------------

// ------------
// footer up
// ------------

.footer-up {
    background-image: url(../img/footer-bg.jpg);
    color: white;
    .container {
        .left {
            padding: 40px 0 60px 0;

            .col {
                width: 140px;
            }

            ul {
                margin: 15px 0;

                li {
                    margin-bottom: 4px;
                    font-size: 12px;

                    a {
                        color: white;
                    }
                }
            }
        }

        img {
            right: 0;
            top: -100px;
        }
    }
}

// ------------
// footer down
// ------------

.footer-down {
    background-color: $footer-bg;
    padding: 30px 0;

    .container {
        button {
            padding: 15px;
            border: 2px solid $primary-blue;
            color: white;
            font-weight: 600;
            background-color: inherit;
        }
    }

    ul {
        gap: 20px;

        li:first-child {
            color: $primary-blue;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 21px;
            letter-spacing: -2px;
        }
    }
}

// ------------
// page info
// ------------
.container-small {
    max-width: 900px;
    margin: 0 auto;

    .info-single {
        margin: 50px 0;

        .info-left {
            padding-right: 30px;
        }
    }
}
